# test data dir
data

*.swp

# python compiled files
*.pyc
*.pyo

# testing
.coverage
.tox

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
MANIFEST*
!MANIFEST.in

# Installer logs
pip-log.txt

# ctags
tags
