language: python
python:
 - "2.7"

cache:
 directories:
  - /home/travis/virtualenv

before_install:
# Workaround for a permissions issue with Travis virtual machine images
# that breaks Python's multiprocessing:
# https://github.com/travis-ci/travis-cookbooks/issues/155
 - sudo rm -rf /dev/shm
 - sudo ln -s /run/shm /dev/shm
 - sudo apt-get update
 - sudo apt-get install -y ufraw-batch libhdf5-serial-dev libnetcdf-dev libatlas-base-dev gfortran
 - sudo apt-get install -y python-scipy python-matplotlib python-opencv python-dateutil python-pyparsing
 - pip install -q nose coverage
 - pip install -q coveralls six
 - pip install -q numpy==1.8.1
 - pip install -q cython==0.20.2
 - pip install -q pytz
 - pip install -q flake8
 - cp /usr/share/pyshared/cv.py /usr/lib/pyshared/python2.7/cv2.so $VIRTUAL_ENV/lib/python2.7/site-packages/
 - cp /usr/share/pyshared/pyparsing.py $VIRTUAL_ENV/lib/python2.7/site-packages/
 - cp -r /usr/lib/python2.7/dist-packages/scipy $VIRTUAL_ENV/lib/python2.7/site-packages/
 - cp -r /usr/lib/python2.7/dist-packages/dateutil $VIRTUAL_ENV/lib/python2.7/site-packages/
 - cp -r /usr/share/pyshared/matplotlib /usr/share/pyshared/mpl_toolkits /usr/share/pyshared/pylab.py /usr/lib/pyshared/python2.7/matplotlib $VIRTUAL_ENV/lib/python2.7/site-packages/
 - pip install git+https://github.com/scikit-image/scikit-image.git

install:
 - ./install

script:
 - ./run_tests
 - flake8 --max-line-length=85 timestream tests/ --exclude tests/helpers.py

after_script:
 - coveralls
