language: python
python:
 - "2.7"

before_install:
# Workaround for a permissions issue with Travis virtual machine images
# that breaks Python's multiprocessing:
# https://github.com/travis-ci/travis-cookbooks/issues/155
 - sudo rm -rf /dev/shm
 - sudo ln -s /run/shm /dev/shm
 - sudo apt-get update
 - sudo apt-get install ufraw-batch python-numpy python-opencv  libhdf5-dev libnetcdf-dev
 - pip install nose>=1.3.0
 - pip install coverage>=3.6
 - pip install coveralls

install:
 - ./install

script:
 - ./run_tests

after_script:
 - coveralls
