language: python
python:
 - "2.7"
 - "3.3"
 - "3.4"

before_install:
# Workaround for a permissions issue with Travis virtual machine images
# that breaks Python's multiprocessing:
# https://github.com/travis-ci/travis-cookbooks/issues/155
 - sudo rm -rf /dev/shm
 - sudo ln -s /run/shm /dev/shm
 - pip install nose>=1.3.0
 - pip install coverage>=3.6
 - pip install coveralls

install:
 - ./install

script:
 - ./run_tests

after_success:
 - coveralls
